.custom-button {
  min-width: 150px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 16px;
  background-color: #039185;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border: none;
  outline: none !important;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #039185;
    border: 1px solid #039185;
  }
  &.google-sign-in {
    background-color: #4285f4;
    color: #fff;
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;

    &:hover {
      background-color: #fff;
      color: #4285f4;
      font-size: 1.1em;
      font-family: "Poppins", sans-serif;
      border: 1px solid #4285f4;
    }
  }
}
